* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  margin: 0.5rem;
  font-family: sans-serif;
  text-align: center;
  box-sizing: border-box;
}

nav {
  border: 2px solid #333;
  border-radius: 2rem;
  margin: 0 auto 1rem;
  max-width: 400px;
  font-size: 2.3rem;
  line-height: 2em;
}

h2 {
  padding: 1rem;
  background: gold;
  border-radius: 2rem 2rem 0 0 ;
}

ul {
  list-style-type: none;
  border-radius: 0 0 2rem 2rem ;
}

li a{
  display: block;
  border-top: 2px solid #333;
}

li a,
li a:visited {
  text-decoration: none;
  color: #333;
}

li a:hover,
li a:focus {
  background: #333;  
  color: whitesmoke;
  cursor: pointer;
}

li:last-child a{
  border-radius: 0 0 2rem 2rem;  
}
